{% extends "header.html" %}


{% block body %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>




<div class="container panel-success">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
          <form class="form-group" action="{{ url_for('event_success') }}" method="post">
              <h2 class="form-group-heading">Create Event</h2>
              <div class="row">
                  <div class="col-lg-5">
                      <br>
                        <label for="activity">Activity Type</label>
                        <select id="activity" name="activity" class="form-control" style="width:70%;">
                            <option value="0">-Select-</option>
                            <option value="1">Running</option>
                            <option value="2">Walking</option>
                            <option value="2">Basketball</option>
                            <option value="2">Soccer</option>
                            <option value="2">Tennis</option>
                            <option value="2">Gym</option>
                        </select>
                        <br>
                        <label for="city">City</label>
                        <input type="text" name="city" id="city" class="form-control"  style="width:70%;" placeholder="City" required>
                        <br>
                        <label for="location">Specific Location</label>
                        <input type="text" name="location" id="location" class="form-control"  style="width:70%;" placeholder="Location" required>
                        <br>
                  </div>
                  <div class="col-lg-5">
                      <br>
                        <label for="time">Date and Time</label>
                        <div class="row">
                            <div class="col-lg-5">
                                <input type="date" name="date" id="date" class="form-control" placeholder="Date"  style="width:100%;" required autofocus>
                            </div>
                            <div class="col-lg-4">
                                <input type="time" name="time" id="time" class="form-control" placeholder="Date"  style="width:100%;" required autofocus>
                            </div>
                        </div>
                        <br>
                        <label for="max_part">Max Participants</label>
                        <input type="number" min="0" name="max_part" id="max_part" class="form-control"  style="width:30%;" placeholder="" required>
                        <br>
                  </div>
                </div>
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Create" style="width:40%;">

          </form>
        </div>
        <div class="col-lg-5">

        </div>
    </div>
</div> <!-- /container -->


{% endblock %}