{% extends "header.html" %}


{% block body %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>




<div class="container panel-success">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
          <form class="form-group" action="{{ url_for('event_success') }}" method="post">
              <h2 class="form-group-heading">Create Event</h2>
              <div class="row">
                  <div class="col-lg-5">
                      <br>
                        <label for="activity">Activity Type</label>
                        <select id="activity" name="activity" class="form-control" style="width:70%;">
                            <option value="0">-Select-</option>
                            <option value="1">Running</option>
                            <option value="2">Walking</option>
                            <option value="2">Basketball</option>
                            <option value="2">Soccer</option>
                            <option value="2">Tennis</option>
                            <option value="2">Gym</option>
                        </select>
                        <br>
                        <label for="city">City</label>
                        <select id="city" name="city" class="form-control" style="width:70%;">
                                <option value="0">-Select-</option>
                                <option value="1">Acre</option>
                                <option value="2">Afula</option>
                                <option value="3">Arad</option>
                                <option value="4">Arielb</option>
                                <option value="5">Ashdod</option>
                                <option value="6">Ashkelon</option>
                                <option value="7">Baqa al-Gharbiyye</option>
                                <option value="8">Bat Yam</option>
                                <option value="9">Beershebae</option>
                                <option value="10">Beit She'anf</option>
                                <option value="11">Beit Shemeshg</option>
                                <option value="12">Beitar Illit</option>
                                <option value="13">Bnei Brakh</option>
                                <option value="14">Dimona</option>
                                <option value="15">Eilatj</option>
                                <option value="16">El'ad</option>
                                <option value="17">Giv'at Shmuel</option>
                                <option value="18">Givatayim</option>
                                <option value="19">Hadera</option>
                                <option value="20">Haifa</option>
                                <option value="21">Herzliya</option>
                                <option value="22">Hod HaSharon</option>
                                <option value="23">Holon</option>
                                <option value="24">Jerusalem</option>
                                <option value="25">Kafr Qasimm</option>
                                <option value="26">Karmiell</option>
                                <option value="27">Kfar Sabao</option>
                                <option value="28">Kfar Yona</option>
                                <option value="29">Kiryat Ata</option>
                                <option value="30">Kiryat Bialik</option>
                                <option value="31">Kiryat Gat</option>
                                <option value="32">Kiryat Malakhi</option>
                                <option value="33">Kiryat Motzkin</option>
                                <option value="34">Kiryat Ono</option>
                                <option value="35">Kiryat Shmona</option>
                                <option value="36">Kiryat Yam</option>
                                <option value="37">Lod</option>
                                <option value="38">Ma'ale Adumim</option>
                                <option value="39">Ma'alot-Tarshiha</option>
                                <option value="40">Migdal HaEmek</option>
                                <option value="41">Modi'in Illit</option>
                                <option value="42">Modi'in-Maccabim-Re'ut</option>
                                <option value="43">Nahariya</option>
                                <option value="44">Nazareth</option>
                                <option value="45">Nazareth Illit</option>
                                <option value="46">Nesher</option>
                                <option value="47">Ness Ziona</option>
                                <option value="48">Netanya</option>
                                <option value="49">Netivot</option>
                                <option value="50">Ofakim</option>
                                <option value="51">Or Akiva</option>
                                <option value="52">Or Yehuda</option>
                                <option value="53">Petah Tikvaae</option>
                                <option value="54">Qalansawe</option>
                                <option value="55">Ra'anana</option>
                                <option value="56">Rahat</option>
                                <option value="57">Ramat Gan</option>
                                <option value="58">Ramat HaSharon</option>
                                <option value="59">Ramla</option>
                                <option value="60">Rehovot</option>
                                <option value="61">Rishon LeZion</option>
                                <option value="62">Rosh HaAyin</option>
                                <option value="63">Safedag</option>
                                <option value="64">Sakhnin</option>
                                <option value="65">Sderotah</option>
                                <option value="66">Shefa-'Amr</option>
                                <option value="67">Tamra</option>
                                <option value="68">Tayibe</option>
                                <option value="69">Tel Aviv</option>
                                <option value="70">Tiberias</option>
                                <option value="71">Tira</option>
                                <option value="72">Tirat Carmela</option>
                                <option value="73">Umm al-Fahm</option>
                                <option value="74">Yavne</option>
                                <option value="75">Yehud</option>
                                <option value="76">Yokneam</option>

                            </select>

                      <br>
                        <label for="location">Specific Location</label>
                        <input type="text" name="location" id="location" class="form-control"  style="width:70%;" placeholder="Location" required>
                        <br>
                  </div>
                  <div class="col-lg-5">
                      <br>
                        <label for="time">Date and Time</label>
                        <div class="row">
                            <div class="col-lg-5">
                                <input type="date" name="date" id="date" class="form-control" placeholder="Date"  style="width:100%;" required autofocus>
                            </div>
                            <div class="col-lg-4">
                                <input type="time" name="time" id="time" class="form-control" placeholder="Date"  style="width:100%;" required autofocus>
                            </div>
                        </div>
                        <br>
                        <label for="max_part">Max Participants</label>
                        <input type="number" min="0" name="max_part" id="max_part" class="form-control"  style="width:30%;" placeholder="" required>
                        <br>
                  </div>
                </div>
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Create" style="width:40%;">

          </form>
        </div>
        <div class="col-lg-5">

        </div>
    </div>
</div> <!-- /container -->


{% endblock %}