{% extends "header.html" %}


{% block body %}


<div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
              <div class="btn-toolbar-justified" data-toggle="buttons">
                  <form action="{{ url_for('main') }}" method="post">
                      {% for activity_name in activities_names %}
                      <label class="btn btn-primary btn-lg" style="width:30%;">
                        <input type="radio" name="options" id="option_{{activity_name}}" autocomplete="off"
                               value="{{activity_name}}" onclick="this.form.submit()">
                        {{activity_name}}
                      </label>
                      {% endfor %}
                  </form>
              </div>
          </div>
          <div class="row">
              {% for current_event_data in events_data %}
                   <div class="list-group">
                    <h2>{{current_event_data[4]}}</h2>
                    <p>
                        City: {{current_event_data[0]}} <br>
                        Specific Location: {{current_event_data[1]}} <br>
                        Date: {{current_event_data[2]}} <br>
                        Registered limit: {{current_event_data[3]}}
                    </p>
                    <p>
                        Registered Users: <br>
                        {% for user in current_event_data[5] %}
                            user
                        {% endfor %}
                    </p>
                    <p><a class="btn btn-default" href="#" role="button">Join &raquo;</a></p>
                    <br>
                   </div><!--/.list-group-->
              {% else %}
                   <div class="list-group">
                      <h2>No events</h2>
                   </div><!--/.list-group-->
              {% endfor %}
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <center>
            <h1><span class="label label-primary">
                Choose Tags
              </span></h1>
            <div class="btn-group-vertical" data-toggle="buttons">
              <label class="btn btn-default">
                <input type="checkbox" autocomplete="off" checked> Checkbox 1 (pre-checked)
              </label>
              <label class="btn btn-default">
                <input type="checkbox" autocomplete="off"> Checkbox 2
              </label>
              <label class="btn btn-default">
                <input type="checkbox" autocomplete="off"> Checkbox 3
              </label>
            </div>
            </center>
        </div><!--/.sidebar-offcanvas-->

      </div><!--/row-->

      <hr>


    </div><!--/.container-->



{% endblock %}