<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<form class="form-horizontal" action='' method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">Registration Page</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="Name">Name</label>
      <div class="controls">
        <input type="text" id="name" name="Name" placeholder="" class="input-xlarge name">
      </div>
    </div>
 
    <div class="control-group">
      <label class="control-label" for="Username">Username</label>
      <div class="controls">
        <input type="text" id="name" name="Name" placeholder="" class="input-xlarge name">
      </div>
    <div class="control-group">
      <label class="control-label" for="Password">Password</label>
      <div class="controls">
        <input type="text" id="password" name="Password" placeholder="" class="input-xlarge password">
      </div>

        <div class="control-group">
      <label class="control-label" for="Date Of Birth">Date Of Birth (In the form of yyyy/mm/dd)</label>
      <div class="controls">
        <input type="text" id="date of birth" name="date of birth" placeholder="" class="input-xlarge date of birth">
      </div>



      <div class="control-group">
      <label class="control-label" for="Gender">Gender</label>


      <div class="controls">
        <select id="Gender" name="Gender" class="input-xlarge distributor">
            <option value="0">-Select-</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
        </select>
    </div>

     <div class="control-group">
      <label class="control-label" for="E-mail Address">E-mail Address</label>
      <div class="controls">
         <input type="text" id="E-mail" name="E-mail address" placeholder="" class="input-xlarge E-mail address">
      </div>

      <br class="control-group">
      <label class="control-label" for="Phone Number">Phone Number</label>
      <div class="controls">
         <input type="text" id="Phone Number" name="Phone Number" placeholder="" class="input-xlarge Phone Number">
      </div>
     </br>
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Register</button>
      </div>
    </div>
  </fieldset>
</form>